################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[buildout]
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
name = part
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/libXpm-3.5.8.tar.bz2
md5sum = 38e58e72d476a74298a59052fde185a3
[mirrors]
sourceforge = downloads.sourceforge.net
gentoo = mirror.muntinternet.net/pub

