################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[buildout]
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
name = part
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/libXpm-3.5.9.tar.bz2
md5sum = 2de3a1b9541f4b3a6f9d84b69d25530e

[mirrors]
sourceforge = downloads.sourceforge.net
gentoo = mirror.muntinternet.net/pub

